.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  /* position: sticky;
  top: 0;
  z-index: 110000;
  background-color: white;
  */
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left > img {
  object-fit: contain;
  height: 40px;
  margin-left: 5px;
  padding: 1rem 0;
}

.header__middle {
  display: flex;
  align-items: center;
  flex: 0.7;
  background-color: whitesmoke;
  padding: 0 0.7rem;
}

.header__middle > .MuiSvgIcon-root {
  color: gray;
}

.header__middle > input {
  border: none;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: medium;
  background-color: transparent;
}

.header__right {
  display: flex;
  padding-right: 20px;
}

.header__right .MuiAvatar-img {
  cursor: pointer;
}
